<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Results</title>
    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="stylesheet" href="../styles/show.css">
  </head>
  <body>
    <%- include ('../header.ejs') %>
    <main>
      <section>
        <% book.forEach(val=>{ %>
        <ul class="booklist">
          <li><img class="homeimg" src="<%= val.imgUrl.thumbnail %>" /></li>
          <li>Title: <%= val.title %></li>
          <li>Author: <%= val.author %></li>
        
        <form action="/add" method="post">
          <input type="hidden" name="img" value="<%=val.imgUrl.thumbnail%>" >
          <input type="hidden" name="title" value="<%=val.title%>" >
          <input type="hidden" name="author" value="<%=val.author%>" >
          <input type="hidden" name="description" value="<%=val.description%>" >
          <input type="hidden" name="bookshelf" value="<%=val.bookshelf%>" >
          <input type="hidden" name="isbn" value="<%=val.isbn%>" >

          <button class="save">Save Book</button>
        </form>
      </ul>
        <% }); %>
      </section>
    </main>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  </body>
</html>
