<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book App</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./styles/reset.css">
    <link rel="stylesheet" href="./styles/base.css">
</head>
<body>
    <header>
        <h1>BOOK APP</h1>
       <p>Welcome to our book application. Make a new <a href="/search">search</a></p>
    </header>    
    <main>
        <ul class="listofitems">
            <p class="totalbooks"><strong>Total Saved Books:</strong> <%= booklist.length %></p>
            <% booklist.forEach(book=>{ %>
                <li>
                    <img src="<%= book.img %>" alt="">
                    <h3> Book Title: <%= book.title %> </h3>
                    <h4>Author Name: <%= book.author %></h4>
                    <a href="/books/<%= book.id%>">View Details</a>
                </li>
            <% }) %>
        </ul>   
    </main>
    <footer> All Rights Reserved. 2020</footer>
</body>
</html>